#nav_bar{
    height: 15%;
    
}
@media only screen and (max-width:1450px){
    #toggle_menu{
        position: absolute;
        right: 15%;
    }
    #cont1_row1{
        z-index: 3;
        position: absolute;
        top: 20%;
        left: 0%;
        height: 20%;
        width: 50%;
}
}
@media only screen and (max-width:1200px){
   .h3_1{
    font-size: 25px;
    font-weight: 700;
   }
   #cont1_row1{
    z-index: 3;
    position: absolute;
    top: 3% !important;
    left: 30%;
    height: 20%;
    width: 100%;
}
#cont3_img{
    width: fit-content;
 }
 #cont3_text p{
    font-size: 35px;
}
#cont_2{
    height: 85vh !important;
   
}
#cont4_para{
    font-size: 18px;
    margin: 0%;
}
#cont_4{
  height: 60vh !important;
}
.icon_class{
    margin-top: 3rem;
}
#cont_3{
    position: relative;
    top: 100vh;
    width: 100vw;
}


 #cont3_text p{
     font-size: 20px;
 }
 
}



@media only screen and (max-width:1200px) and (min-width:701px){
    #cont3_img{
        width: 60%;
     }
     

     #cont_3{
    position: relative;
    top: 40vh;
   text-align:center ;
}
#cont_4{
    position: relative;
    top: 50vh;
   height: 00vh !important ;
}
#cont_5{
    position: relative;
    top: 150vh;
    
}
}
@media only screen and (max-width:400px){
/* #card_3{
    display: none;
} */
}


@media only screen and (max-width:700px){

 
.h3_1{

    font-size: 14px ;
    font-weight: 600;
 
}   
#cont1_row1{
    z-index: 3;
    position: absolute;
    top: 6vh !important;
    left: 40%;
    width: 100%;
}


#cont_1{
   height: 10vh !important;
}
#cont_3{
    position: relative;
    top: 120vh;
}
#cont_4{
    position: relative;
    top: 120vh;
}
#cont_5{
    position: relative;
    top: 120vh;
  
}



}


#cont_2{
    height: 100vh;
   
}

#cont_3{
    height: 70vh;
    align-items: center;
}
#cont_4{
    height: 70vh;
    
}

#cont3_text{

font-size: 3.5rem;


}
#cont2_h2{
    color: rgb(220, 200, 19);
    font-size: 3rem;
}
#cont_1{
    position: absolute;
}
#img1{
    z-index: 1;
}

#cont1_row1{
    z-index: 3;
    position: absolute;
    top: 5%;
    left: 0%;
    height: 40%;
}

#cont_4{
height: 70vh;

}
#cont_5{
height: 110vh;

}

#cont4_h3{
    color: rgb(220, 200, 19);
    font-size: 3rem;
}
#cont4_para{
    margin: 3rem;
}

#email-ph{
    height: 50px;
}
#email-ph::placeholder{
color: white;
text-align: center;
}
#last_block_1{
    font-size: 1.2rem;
}
#last_block_2{
    font-size: 1.2rem;
}

#icon_col{
    height: 7rem;
    display: flex;
   
}

